<h1>Listing courses_students</h1>

<table>
  <tr>
  </tr>

<% @courses_students.each do |courses_student| %>
  <tr>
    <td><%= link_to 'Show', courses_student %></td>
    <td><%= link_to 'Edit', edit_courses_student_path(courses_student) %></td>
    <td><%= link_to 'Destroy', courses_student, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New courses_student', new_courses_student_path %>