<h1>Listing courses_instructors</h1>

<table>
  <tr>
  </tr>

<% @courses_instructors.each do |courses_instructor| %>
  <tr>
    <td><%= link_to 'Show', courses_instructor %></td>
    <td><%= link_to 'Edit', edit_courses_instructor_path(courses_instructor) %></td>
    <td><%= link_to 'Destroy', courses_instructor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New courses_instructor', new_courses_instructor_path %>