<h1>New courses_instructor</h1>

<% form_for(@courses_instructor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', courses_instructors_path %>